<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
    <!-- <link href="" rel="stylesheet" th:href="@{/css_and_images/dashboard_style.css}"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/static/css_and_images/dashboard_style.css"
      type="text/css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark" style="background-color: #0047ab" fixed-top>
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="dashboard.html">Dashboard</a>
        <div title="Go to Account">
          <span
            class="bx bx-user bg-light"
            id="userLogo"
            onclick="window.location.href='userDetails.html';"
          ></span>
        </div>
      </div>
    </nav>
    <div class="button-back">
      <h1>User Details</h1>
      <button onclick="window.location.href='home.html';">Log out</button>
      <button onclick="window.location.href='dashboard.html';">
        Back to Dashboard
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type = "text/javascript" >
      window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
       
   </script>
  </body>
</html>
