<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- <link href="" rel="stylesheet" th:href="@{/css_and_images/dashboard_style.css}"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/css_and_images/dashboard_style.css"
      type="text/css"
    />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark" style="background-color: #0047ab" fixed-top>
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="dashboard.html">Dashboard</a>
        <div title="Go to Account">
          <span
            class="bx bx-user bg-light"
            id="userLogo"
            onclick="window.location.href='userDetails.html';"
          ></span>
        </div>
      </div>
    </nav>

    <!--<i class='bx bx-user'></i> -->

    <div class="row m-2 d-flex justify-content-around">
      <div class="col-sm">
        <div class="card border-info" style="width: 25rem">
          <img
            src="https://cdn.dribbble.com/users/1403962/screenshots/3388455/__.gif"
            class="card-img-top"
            alt="assignUser"
          />
          <div class="card-body">
            <h5 class="card-title">Add User to Supplier</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="assignUser.html"
              class="btn btn-outline-primary rounded-pill"
              >Assign User</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-info" style="width: 25rem">
          <img
            src="https://i.pinimg.com/originals/b6/a1/64/b6a164fe3c74eeb8fae8de7ad4b1d3ef.gif"
            class="card-img-top"
            alt="newSupplier"
          />
          <div class="card-body">
            <h5 class="card-title">Add New Supplier</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="newSupplier.html"
              class="btn btn-outline-primary rounded-pill"
              >Add Supplier</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-info" style="width: 25rem">
          <img
            src="https://i.gifer.com/7S7F.gif"
            class="card-img-top"
            alt="addProduct"
          />
          <div class="card-body">
            <h5 class="card-title">Add New Product</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="addProduct.html"
              class="btn btn-outline-primary rounded-pill"
              >Add Product</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row m-2">
      <div class="col-sm">
        <div class="card border-info w-30" style="width: 25rem">
          <img
            src="https://media3.giphy.com/media/2A4A9kI7YFXC789O7A/giphy.gif"
            class="card-img-top"
            alt="quotation"
          />
          <div class="card-body">
            <h5 class="card-title">Add New Quotation</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="quotation.html"
              class="btn btn-outline-primary rounded-pill"
              >Add Quotation</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-info w-30" style="width: 25rem">
          <img
            src="https://cms.proqura.com/public/images/7f44dc80741a48c87c53139eda4db6f2.jpg"
            class="card-img-top"
            alt="purchaseOrder"
          />
          <div class="card-body">
            <h5 class="card-title">Purchase Order Generate</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="purchaseOrder.html"
              class="btn btn-outline-primary rounded-pill"
              >Generate PO</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-info w-30" style="width: 25rem">
          <img
            src="https://www.fastcapital360.com/wp-content/uploads/2019/02/graphic1.gif"
            class="card-img-top"
            alt="invoice"
          />
          <div class="card-body">
            <h5 class="card-title">Generate New Invoice</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="invoice.html" class="btn btn-outline-primary rounded-pill"
              >Generate Invoice</a
            >
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </body>
</html>
