* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  text-align: center;
  width: 100%;
}

title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  color: #0047ab;
  font-weight: bold;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

p {
  color: #0096FF;
}

.form-box2 {
  height: 700px;
  width: 1500px;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  color: #fff;
  padding-bottom: 50px;
}
img {
  width: 700px;
  height: 500px;
  margin-top: 50px;
  border-radius: 30px;
  padding-bottom: 10px;
}

.form-box2:before {
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 100px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px);
}

.form-details {
  display: block;
  align-items: center;
  justify-content: center;
}

.form-details input {
  display: flex;
  width: 250px;
  padding: 5px;
  margin: 25px;
  text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #0047ab;
  opacity: 0.75;
}
.header-text2 {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  color: #0047ab;
  border-radius: 30px;
}

#regButton {
  margin-left: 0;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  background-color: #fff;
  color: #0047ab;

  font-weight: bold;
}
#regButton:hover {
  color: green;
  background: white;
  border: 1px solid green;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: #87cefa;
}

a:hover {
  color: #87cefa;
  opacity: 0.75;
  cursor: pointer;
}

span {
  color: #0047ab;
}

/* responsive for phone */
@media screen and (max-width: 750px) {
  .col-25,
  .col-75,
  img {
    width: 100%;
    height: 100%;
  }
  .form-box2 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
}
