* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #0047ab;
}

.container-box {
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.button-box2 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-box5 {
  margin-top: 50px;
  height: 620px;
  align-items: center;
  justify-content: center;
}

.form-box5:before {
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  filter: blur(2px);
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first input {
  display: flex;
  width: 300px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  text-align: center;
}

.header-text2 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

label {
  display: flex;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: bold;
}

select {
  display: flex;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttn {
  margin: 20px;
  background-color: #fff;
  color: #0047ab;
  width: 130px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #0047ab;
  font-weight: bold;
}
.bttn:hover {
  background-color: #0047ab;
  color: #fff;
}

#userLogo {
  width: 40px;
  height: 40px;
  padding-left: 7px;
  padding-top: 7px;
  border-radius: 50%;
  background-color: #fff;
  color: #0047ab;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
